<div class="container mt-4">
  <h2 class="mb-3">User Cards</h2>

  <input type="text" class="form-control mb-3" placeholder="Search by name..." [(ngModel)]="searchText" />

  <div class="row">
    <div *ngFor="let user of filteredUsers" class="col-md-4 mb-3">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text">{{ user.address }}</p>
        </div>
      </div>
    </div>
  </div>
</div>